@import "tailwindcss";

:root {
  --background: #F0EADD;;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-kanit: var(--font-kanit);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kanit);
}

h1, h2, .bold_text {
    font-weight: 600;
}

h3, h4, li, a {
    font-weight: 400;
}

h1 {
    font-size: 40px;
    line-height: 45px;
}

h2 {
    font-size: 28px;
    line-height: 35px;
}

h3 {
    font-size: 20px;
}

h4, li {
    font-size: 20px;
}

li {
    line-height: 30px;
}


.nav_container{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #a7c0a2;
}

.nav_container ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.footer_container{
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #a7c0a2;
    margin-top: 30px;
    width: 100%; 
}

/*
.home_container{
  height: calc(100vh - 100px);
}
*/

.hero_container{
  height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url('/assets/food.jpg');;
    background-size: cover;
    background-position: center;
}

.hero_container h1{
  color: #F0EADD;
  font-size: 56px;
  text-shadow: 2px 2px 4px rgba(0, .0, 0, 0.5);
  text-align: center;
}

.recetas_boxed{
    padding: 20px 30px;
    margin: 0 auto;
}

.recetas_boxed h2{
  margin: 20px 0;
}

.recipes_grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.recipe_card{
  
    grid-column: span 3;
    background-color: #F0EADD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #281525;

}

.recipe_card h3{
  margin: 20px 0;
}

.image_card {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #281525;
}

.card_button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #281525;
    color: #281525;
    text-decoration: none;
    transition: all 0.3s ease;
}